<h1>Editing listener <%= @listener.key %> </h1>

<% form_for(@listener) do |f| %>
  <%= f.error_messages %>

<em>Subscriber<em>
  <br />
  <p>
    URL: <%= f.text_field :subscriber_url %>
  </p>
  <p>
    Host: <%= f.text_field :subscriber_host %>
  </p>
  <p>
    Port: <%= f.text_field :subscriber_port %>
  </p>
  <p>
    User: <%= f.text_field :subscriber_user %>
  </p>
  <p>
    Password: <%= f.text_field :subscriber_password %>
  </p>
  <br />
  
<em>Receiver<em><br />
  <p>
    Login URL: <%= f.text_field :receiver_login_url %>
  </p>
  <p>
    Delivery URL: <%= f.text_field :receiver_delivery_url %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @listener %> |
<%= link_to 'Back', listeners_path %>
