<h1>Editing listener <em><%= @listener.key %></em> </h1>

<% form_for(@listener) do |f| %>
  <%= f.error_messages %>

<fieldset>
    <legend>
    Message broker subscriber properties
    </legend>
    <table>
      <tr>
        <td><%= f.label :subscriber_url %></td>
        <td><%= f.text_field :subscriber_url %></td>
      </tr>
      <tr>
        <td><%= f.label :subscriber_host %></td>
        <td><%= f.text_field :subscriber_host %></td>
      </tr>
      <tr>
        <td><%= f.label :subscriber_port %></td>
        <td><%= f.text_field :subscriber_port %></td>
      </tr>
      <tr>
        <td><%= f.label :subscriber_user %></td>
        <td><%= f.text_field :subscriber_user %></td>
      </tr>
      <tr>
        <td><%= f.label :subscriber_password %></td>
        <td><%= f.text_field :subscriber_password %></td>
      </tr>
    </table>
  </fieldset>
  
  <br />
  
  <fieldset>
    <legend>
    RESTful receiver properties
    </legend>
    <table>
      <tr>
        <td><%= f.label :receiver_login_url %></td>
        <td><%= f.text_field :receiver_login_url %></td>
      </tr>
      <tr>
        <td><%= f.label :receiver_delivery_url %></td>
        <td><%= f.text_field :receiver_delivery_url %></td>
      </tr>
    </table>
  </fieldset>  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @listener %> |
<%= link_to 'Back', listeners_path %>
