<h1>Listing listeners</h1>

<table>
  <tr>
  <div id="column-heads">
    <th>Status</th>
    <th>Key</th>
    <th>Pid</th>
    <th>Subscriber url</th>
    <th>Receiver login url</th>
    <th>Receiver delivery url</th>
  </div>
  </tr>

<% @listeners.each do |listener| %>
  <tr>
    <td><%= button_to button_caption(listener) , 
      { :controller => 'daemon', :action => button_caption(listener).downcase, :id => listener.id } %></td>
    <td><%=h listener.key %></td>
    <td><%=h listener.pid %></td>
    <td><%=h listener.subscriber_url %></td>
    <td><%=h listener.receiver_login_url %></td>
    <td><%=h listener.receiver_delivery_url%></td>
    <td><%= link_to 'Show', listener %></td>
    <td><%= link_to 'Edit', edit_listener_path(listener) %></td>
    <td><%= link_to 'Destroy', listener, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New listener', new_listener_path %>
