<h1>New listener</h1>

<% form_for(@listener) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
      
  <p>
    <%= f.label :subscriber_url %><br />
    <%= f.text_field :subscriber_url %>
  </p>
  <p>
    <%= f.label :subscriber_host %><br />
    <%= f.text_field :subscriber_host %>
  </p>
  <p>
    <%= f.label :subscriber_port %><br />
    <%= f.text_field :subscriber_port %>
  </p>
  <p>
    <%= f.label :subscriber_user %><br />
    <%= f.text_field :subscriber_user %>
  </p>
  <p>
    <%= f.label :subscriber_password %><br />
    <%= f.text_field :subscriber_password %>
  </p>
  
  <p>
    <%= f.label :receiver_login_url %><br />
    <%= f.text_field :receiver_login_url %>
  </p>
  <p>
    <%= f.label :receiver_delivery_url %><br />
    <%= f.text_field :receiver_delivery_url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', listeners_path %>
