<h1>New listener</h1>

<% form_for(@listener) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :subscriber_url %><br />
    <%= f.text_field :subscriber_url %>
  </p>
  <p>
    <%= f.label :receiver_url %><br />
    <%= f.text_field :receiver_url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', listeners_path %>
