<p>
  <b>Status:</b>
  <%=  button_caption(@listener) %>
</p>

<p>
  <b>Key:</b>
  <%=h @listener.key %>
</p>

<p>
  <b>Subscriber url:</b>
  <%=h @listener.subscriber_url %>
</p>

<p>
  <b>Action url:</b>
  <%=h @listener.action_url %>
</p>


<%= link_to 'Edit', edit_listener_path(@listener) %> |
<%= link_to 'Back', listeners_path %>
