<h1>New Document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
  
  <p>
    <%= f.label :message_ID %><br />
    <%= f.text_field :message_ID %>
  </p>
  
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p> 
  
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p> 
  
  <p>
    <%= f.label :content_length %><br />
    <%= f.text_field :content_length %>
  </p>
  
  <p>
    <%= f.label :time_stamp %><br />
    <%= f.text_field :time_stamp %>
  </p>
  
  <p>
    <%= f.label :expiry %><br />
    <%= f.text_field :expiry %>
  </p> 
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', documents_path %>

