<p>
  <b>Name:</b>
  <%=h @document.name %>
</p>

<p>
  <b>Owner key:</b>
  <%= @document.key %>
</p>

<p>
  <b>Comment:</b>
  <%=h @document.comment %>
</p>

<p>
  <b>Content type:</b>
  <%=h @document.content_type %>
</p>

<p>
  <b>Data:</b>
  <%=h @document.data %>
</p>

<%= link_to 'Back', documents_path %>
