<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th>Content type</th>
    <th>Data</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%=h image.name %></td>
    <td><%=h image.comment %></td>
    <td><%=h image.content_type %></td>
    <td><%=h image.data %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image', new_image_path %>
