<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Documents</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "rmb", :media => "all" %>
<!-- END:stylesheet -->
</head>
<body id="site">
  <div id="banner">
    <%= image_tag("listener.jpeg") %>
    <%= @page_title || "Listener daemons" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://www.venuesoftware.com/contact.html">Home</a><br />
      <a href="http://www.venuesoftware.com/projects.html">News</a><br />
      <a href="http://www.venuesoftware.com/contact.html">Contact</a><br />
      <br />
      <a href="/listeners">Listeners</a><br /> 
      <a href="/documents">Documents</a><br />
    </div>
    <div id="main">
      <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <!-- END:flash -->

      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
